<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Soluciones Tecnológicas es una empresa mexicana seria y consolidada, formada por profesionales en los servicios de Seguridad Electrónica y Telecomunicaciones.">
    <meta name="keywords"
        content="cámaras de seguridad, instalación, vigilancia, cotización, Puebla, México, CCTV, alarmas, control de acceso, cableado estructurado, mantenimiento de equipo, soluciones tecnológicas, seguridad electrónica, telecomunicaciones, empresa mexicana, servicios profesionales">

    <meta name="author" content="Soluciones Tecnológicas">
    <meta name="theme-color" content="#0f172a">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Soluciones Tecnológicas">
    <meta property="og:description"
        content="Soluciones Tecnológicas es una empresa mexicana seria y consolidada, formada por profesionales en los servicios de Seguridad Electrónica y Telecomunicaciones.">



    <% if (typeof tittle !== "undefined" && tittle) { %>

    <title><%= tittle %></title>
    <% }  %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Cargar fuente Inter -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/output.css">

    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

</head>